.demo{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.error{
  color: red;
}
.btn{
  width: 530px;
}



@media only screen and (max-width: 425px) {
  body {
    background-color: lightblue;
  }
  .btn{
    width: 250px;
  }
}
#reg{
  
  width: 100%;
}
#reset{
  width: 100%;
}
